.phone{
	width: 100%;
	padding: 30rpx 30rpx 30rpx 25rpx;
    overflow: hidden;
    height: auto;
}
.phone .titile{
	width: 150rpx;
	color: #333333;
	float: left;
    height: 60rpx;
    line-height: 60rpx;
}
.phone .inputbox{
	width: 400rpx;
	height: auto;
	float: left;
}
.phone .inputbox .input{
	height: 100%;
	color: #333333;
    height: 60rpx;
}
.phone .code{
	width: 150rpx;
	height: 54rpx;
	float: right;
	background-color: #EEEEEE;
	border-radius: 54rpx;
	margin-top: 30rpx;
	color: #999999;
	font-size: 25rpx;
	text-align: center;
	line-height: 54rpx;
}

.tijiao{
	background-image: linear-gradient(to bottom, #be98e6 , #af81e6);
	width: 626rpx;
	height: 88rpx;
	border-radius: 88rpx;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 100rpx;
	margin: auto;
	color: #FFFFFF;
	font-size: 30rpx;
	font-weight: bold;
	line-height: 88rpx;
	text-align: center;
}
.tijiao1{
	background-color: #E9E9E9;
	width: 626rpx;
	height: 88rpx;
	border-radius: 88rpx;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 100rpx;
	margin: auto;
	color: #FFFFFF;
	font-size: 30rpx;
	font-weight: bold;
	line-height: 88rpx;
	color: #999999;
	text-align: center;
}

.bgimg{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -3;
}
.liuhai{
	/* background-image: url(../../static/imags/set/title.png); */
    background-color: rgb(102,140,255);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}
.appbar{
	width: 100%;
	height: 90rpx;
	position: fixed;
	left: 0;
	background-color: rgb(102,140,255);
	line-height: 90rpx;
	text-align: center;
	font-size: 35rpx;
	color: #24325A;
	z-index: 999;
}

.appbar .lefticon{
	width: 57rpx;
	height: 58rpx;
	background-image: url(../../static/imags/set/fh.png);
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 30rpx;
	margin: auto;
}